<!-- User Defined View -->
<section id="login-overlay">

    <!-- Close Button -->
    <button type="button" class="btn btn-close btn-default pull-right" ng-click="$close()">
        <span class="glyphicon glyphicon-remove"></span>
    </button>

    <div class="overlay-container">
        <!-- Redirect Title -->
        <div class="overlay-title-sm">USER DEFINED VIEWS</div>

        <!-- Login Description -->
        <div class="login-waiver-row">
            <p>Create your own defined views of Deals and/or Securities based on selected criteria</p>
        </div>

        <div class="login-waiver-row">
            <img src="images/UserDefinedViewConcept.png">
        </div>

    </div>

</section>