<section id="dashboard-view" class="container disclosure-container">
<!-- <h1 class="dash-title">Home Page - Authenticated {{ vm.userName }}</h1> -->
<div class="carousel-container">
	<div class="user-content">
		<div class="portfolios">
		<h3 class="table-title concept-link" ng-click="vm.showConceptView()">Portfolios</h3>
		<table class="user-table">
			<tr>
				<th class="name">Name</th>
				<th>Last Updated</th>
			</tr>
			<tr>
				<td class="name">{{ vm.productName }} Single</td>
				<td>06-Oct-2015</td>
			</tr>
			<tr>	
				<td class="name">High Yield Securities</td>
				<td>05-Oct-2015</td>
			</tr>
		</table>
	</div>
	<div class="alerts">
		<h3 class="table-title">Alerts</h3>
		<table class=" user-table">
			<tr>
				<th class="name">Name</th>
				<th>Last Updated</th>
				<th>Last Sent</th>
			</tr>
			<tr>
				<td class="name">XYZ for Oct</td>
				<td>{{ vm.productName }} Single</td>
				<td>03-Oct-2015</td>
			</tr>
			<tr>
				<td class="name">ABC % Tracker</td>
				<td>High Yield Securities</td>
				<td>01-Oct-2015</td>
			</tr>
		</table>
	</div>
	<div class="user-search">
		<ul class="recent">
			<li class="list-title">Recent Searches</li>
			<li ng-repeat="search in vm.recentSearches track by $index"><a ng-click="vm.runRecentSearch(search)">{{ search }}</a></li>
		</ul>
		<ul class="saved">
			<li class="list-title">Saved Searches</li>
			<li><a>Oct. Single Family</a></li>
			<li><a>{{ vm.productName }} Securities</a></li>
		</ul>
	</div>
	</div>
</div>

<div class="sub-nav-bar logged-in">
	<div class="col-md-4 news">
		<h2 class="sub-title">News & Announcements</h2>
		<div class="column">
			<h4 class="date">September 15, 2015</h4>
			<a class="link">{{ vm.appName }} Prices $1.08 Billion Multifamily DUS® REMIC (FNA 2015-M12) Under Its GeMSTM Program</a>
			<h4 class="date">July 21, 2015</h4>
			<a class="link">{{ vm.appName }} Issues $14.5 Billion of Multifamily {{ vm.productName }} in the Second Quarter of 2015</a>
			<h4 class="date">June 30, 2015</h4>
			<a class="link">Getting the Most out of {{ vm.appName }}'s Application</a>
			<h4 class="date">June 25, 2015</h4>
			<a class="link">{{ vm.appName }} Publication Schedule for {{ vm.productName }} Disclosure Files Released in July</a>
			<a class="more-info"> All News > </a>
		</div>
	</div>
	
	<div class="col-md-4 issues">
		<h2 class="sub-title">New Issues</h2>
		<div class="column">
			<h3>Published Date:</h3>
			<h4 class="date">October 3, 2015</h4>
			
			<div class="issues-content clearfix">
				<h4 class="download-title">New Issues Pool Statistics</h4>
				<a class="download-link">nips_10052015.txt</a>
			</div>
			<div class="issues-content clearfix">
				<h4 class="download-title">New Issues Loan and Collateral Statement</h4>
				<a class="download-link">nilcs_10052015.txt</a>
			</div>
			<div class="issues-content clearfix">
				<h4 class="download-title">Loan Level Disclosure</h4>
				<a class="download-link">nilcs_10052015.txt</a>
			</div>
			<a class="more-info">All New Issuance Files > </a>
		</div>
	</div>
	<div class="col-md-4 files">
		<h2 class="sub-title">Monthly Files</h2>
		<div class="column">
			<h3>Latest Updated Files:</h3><h4 class="date">September 2015</h4>
			<div class="files-content clearfix">
				<h4 class="download-title">{{ vm.productName }} STATS</h4>
				<a class="download-link unlocked">{{ vm.productName }}092015.zip</a>

			
				<a class="download-link">Sample Layout
					<span class="glyphicon glyphicon-file" aria-hidden="true"></span>
				</a>
				<a class="download-link">Sample File
					<span class="glyphicon glyphicon-file" aria-hidden="true"></span>
				</a>
			</div>
			<div class="files-content clearfix">
				<h4 class="download-title">Fixed-Rate Quartile File</h4>
				<a class="download-link unlocked">fqt092015.zip</a>
			
				<a class="download-link">Sample Layout
					<span class="glyphicon glyphicon-file" aria-hidden="true"></span>
				</a>	
				<a class="download-link">Sample File
					<span class="glyphicon glyphicon-file" aria-hidden="true"></span>
				</a>
			</div>
			<a class="more-info">All Monthly Files ></a>
		</div>	
	</div>
</div>
</section>