/* ----- Ginnie Mae Colors ----- */
$brand-color-verydark: #00356D;
$brand-color-dark: #6B015C;
$brand-color-medium: #324F8D;
$brand-color-light: #E2E2E2;
$brand-color-secondary: #A1ADC7;
$brand-color-highlightcool: #6B015C;
$brand-color-highlightwarm: #757C00;