/* ----- Fannie Mae Colors ----- */
$brand-color-verydark: #000333;
$brand-color-dark: #21386B;
$brand-color-medium: #4D6089;
$brand-color-light: #E2E2E2;
$brand-color-secondary: #A1ADC7;
$brand-color-highlightcool: #14499C;
$brand-color-highlightwarm: #1B684A;