/* —— Freddie Mac Colors ----- */
$brand-color-verydark: #024070;
$brand-color-dark: #03518D;
$brand-color-medium: #4D8950;
$brand-color-light: #E2E2E2;
$brand-color-lightblue: #a1adc7;
$brand-color-secondary: #94C777;
$brand-color-highlightcool: #679B1D;
$brand-color-highlightwarm: #6CB444;